/*搜索框*/
.mer-top{height:50px;width:465px;margin: 50px auto;box-shadow:2px 2px 10px gray;background: #b5d2ff;border-radius:21px;}
#soso{width:380px;height:36px;margin:5px 0 0 5px;outline:none;padding-left:8px;float:left;font-size:22px;border-top-left-radius:21px;border-bottom-left-radius:21px;}

.mer-t-s-r{float:left;border-radius:20px;}
.mer-t-s-r button{float:left;margin-left:5px;height: 49px;width:49px;text-align: center;border-style:none;background:#b5d2ff;}
.mer-t-s-r button img{width:35px;height: 35px;}
/* 商品分类 */
.profenlei{width:1200px;height:350px;margin:0 auto;text-align: center;font-size:40px;font-family:"幼圆";}
.profenlei p{line-height:40px;margin-bottom: 10px;font-weight: 600;}
.profenlei li{display: block;}
.profenlei button{border:none;background:none;font-size:24px;font-family:"幼圆";}
.profenlei button:hover{font-size: 30px;}
.profenlei-1{width: 320px;height: 220px;float: left;margin-top:20px;background:#adcdff;padding:20px 0;
    border-radius:15px;color:white;}
.profenlei-1 button{color:white;}
.profenlei-2{width: 320px;height: 220px;float: left;margin:40px -30px 0 -30px;padding:20px 0;border-radius:15px;
    border:8px solid #adcdff;background:#fff;color:#5793ec;}
.profenlei-2 button{color:#5793ec;}
/*商品栏*/
.mer-main{background:#FFFFFF;padding-top: 10px; }
.mer-via{width:1200px;line-height: 50px;margin:0 auto 0;}
.mer-via button{text-decoration: none;border:none;font-size:16px;background:#fff;}
.mer-shop{width:1200px;margin:0 auto 0;}

.mer-next{width:1300px;height:100px;margin:20px auto 0;text-align:center;}
.mer-next button{width:100px;height:50px;font-size:24px;margin-right:60px;}

.ind-n-show{width:1300px;margin:-30px auto 30px;clear: both; text-align:center;}
table.ind-n-pro{width:1200px;margin:0 auto 0;border-collapse:separate;;border-spacing:30px;}
.td1{width:100px;padding:0 30px 0;}
.div1{width:230px;height:315px;box-shadow:2px 2px 10px gray;}
.img1{width:230px;height:230px;margin-bottom:0;}
.p1{line-height:40px; text-align:center;font-size:16px;width:230px;padding-top:2px;background:rgb(255,255,255);}
